/* Styles go beneath here! */

main {
    margin-left:500px;
    margin-right:500px;
}
h3 {
    padding-bottom: 15px;
}
li {
    padding: 5px;
    text-align: left;
}
body {
    text-align: center;
    font-family: sans-serif;
}
